<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="ToolsCodeTemplate.cs" Inherits="ToolsCodeTemplate" %>
<%@ Property Name="Table" Type="SchemaExplorer.TableSchema" Category="DB" %>
<script runat="template">
    public override string GetFileName()
    {
    	return Table.Name + "Repository_ext.cs";
    }
</script>

<% 
    string entity=Table.Name.Replace("weapp_","");
    string a = Table.Name.Replace("weapp_","");
    
    string b = a[0].ToString().ToUpper() + a.Substring(1);
    
    string dalName = b + "Repository";
%>

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Weapp.Model;

namespace Weapp.IRepository
{
    <%PrintHeader(Table.Name + "表拓展方法，请在此文件中添加拓展方法"); %>
    
    /// <summary>
    /// 表名:<%=Table.Name %>
    /// 描述:<%=Table.Description %>
    /// 主键和自增:<%if(!Table.HasPrimaryKey) {%>无主键<%} %> <%if(!HasIdentity(Table)) {%>无自增字段<%} %>
    /// </summary>
    public interface I<%=dalName %>
    {
        
    }
}